body{
  background-color:;
}

li{
  list-style: none;
}

nav li{
  float: left;
  border-top-left-radius: 15px;
  list-style: none;
  background: #2E4B86;
  width: 70px;
  height: 26px;
  text-align: center;
  margin-bottom: 8px;
  font-size: 8px;
  position: relative;
  left: 200px;
  margin-left: 10px;
}

.headheading h1{
  float: left;
  padding-top: 55px;
  font-size: 41px;
}

.logo{
  float: left;
padding-top: 35px;
}

.home_images{

}

.leftcolumn{
  float: left;
}

.leftcolumn li{
  margin-bottom: 32px;
}

.rightcolumn{
    border-right: 3px solid #D6A000;
    height: 325px;
}

.rightcolumn li{
  margin-bottom: 32px;
}

.home_news{
  height: 325px;
  float:right;
  padding-right: 40px;
}

.searchbar{
  padding-top: 75px;
  float: right;
  padding-right: 40px;
}

.searchbar input{
  width: 70px;
}

.headerimage{
   border-bottom: 3px solid #D6A000;
   padding-bottom: 40px;
}

.home_images{
  padding-top: 40px;
  border-right:
}

.home_news{
  padding-top: 40px;
}

.aboutimg{
height: 100%;
z-index: -999;
position: relative;
}

article .abouttext{
  padding-bottom: 100px;
}

h1{
  color: #2E4B86;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.searchbar{

}

footer {
  position:relative;
}

footer h2 {
position: absolute;
top: 143px;
color: white;
font-size: 26px;
text-align: right;
left: 500px;
}

footer ul{
position: absolute;
top: 167px;
float: left;
}

footer li{
  float: left;
}

.footer_img {
  position: relative;
}

.featured{
margin-bottom: 53px;
background-color: #E8E9ED;
padding-top: 30px;
padding-bottom: 30px;

}

.featured h2{
font-size: 19px;
color: #2E4B86;
}

.suffrage{
  float: right;
}

.featuredheading{
  background-color: #D6A000;
  margin-bottom: 5px;
  height: 130px;
  position: relative;
}

.featuredheading h1{
  font-size: 37px;
  color: white;
  position: absolute;
  left: 600px;
  padding-top: 34px;
}

.abouttext p{
  background-color: red;
}

article h1{
  position: absolute;
  bottom: 544px;
  font-size: 100px;
  right: 178px;
}

article p{
  position: absolute;
  bottom: 82px;
  font-size: 15px;
  right: 178px;
  color: white;
}
