body{
  background-color:;
}
li{
  list-style: none;
}
nav li{
  float: left;
  border-top-left-radius: 15px;
  list-style: none;
  background: #2E4B86;
  width: 90px;
  height: 36px;
  text-align: center;
  margin-bottom: 8px;
  font-size: 12px;
  position: relative;
  left: 210px;
  margin-left: 10px;
}
nav a{
  display: block;
  padding-top: 9px;
}
nav{
  margin-top: 13px;
}
.headheading h1{
  float: left;
  padding-top: 55px;
  font-size: 41px;
}
.logo{
  float: left;
padding-top: 35px;
}
.searchbar{
  padding-top: 75px;
  float: right;
  padding-right: 40px;
}
.searchbar input{
  width: 70px;
}
/*Header Section End*/



.leftcolumn{
  float: left;
}
.leftcolumn li{
  margin-bottom: 32px;
}
.rightcolumn{
    border-right: 3px solid #D6A000;
    height: 325px;
}
.rightcolumn li{
  margin-bottom: 32px;
}
.home_news{
  height: 325px;
  float:right;
  padding-right: 40px;
}
.headerimage{
   border-bottom: 3px solid #D6A000;
   padding-bottom: 40px;
}
.home_images{
  padding-top: 40px;
  border-right:
}
.home_news{
  padding-top: 40px;
}
.readmore{
  position: absolute;
  bottom: 61px;
  background: #2E4B86;
  text-align: center;
  margin-left: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 20px;
  right: 189px;
}
.readmore a{
  display: block;
}
.featured{
margin-bottom: 53px;
background-color: #E8E9ED;
padding-top: 30px;
padding-bottom: 30px;
position: relative;
}
.featured p{
  padding-top: 25px;
}
.featured h2{
font-size: 19px;
color: #2E4B86;
margin-bottom: 0px;
}
.suffrage{
  float: right;
  margin-right: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.featuredheading{
  background-color: #D6A000;
  margin-bottom: 5px;
  height: 130px;
  position: relative;
}
.featuredheading h1{
  font-size: 37px;
  color: white;
  position: absolute;
  left: 600px;
  padding-top: 34px;
}
.secondpg p{
  position: absolute;
  bottom: 84px;
  padding-right: 50px;
}
/*Home Page Ends*/



h1{
  color: #2E4B86;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}



footer {
  position:relative;
}
footer h2 {
position: absolute;
top: 143px;
color: white;
font-size: 26px;
text-align: right;
left: 500px;
}
footer ul{
position: absolute;
top: 167px;
float: left;
}
footer .aboutf {
position: absolute;
top: 167px;
float: left;
}
footer li{
  float: left;
}
.footer_img {
  position: relative;
}
/*Footer Section Ends*/



.aboutimg{
height: 100%;
z-index: -999;
position: relative;
}
article .abouttext{
  padding-bottom: 100px;
}
.abouttext article{
  position: relative;
}
.abouttext article h1 {
  position: absolute;
  bottom: 651px;
  font-size: 100px;
  left: 572px;
}
.abouttext article p{
  position: absolute;
  bottom:196px;
  font-size: 15px;
  left: 580px;
  color: white;
}
.aboutfooter h2{
  position: absolute;
  top: -96px;
}
.aboutfooter ul{
  position: absolute;
  top: -81px;
}
/*About Section Ends*/



.contactheader{
  position: relative;
}
.contactheader h1{
  font-size: 96px;
  color: white;
  position:absolute;
  top: 58px;
  left: 291px;
}
.contactdept h2{
  float: right;
  padding-right: 50px;
  padding-top: 3px;
  color: white;
}
.contactdept{
  background: #D6A000;
  height: 40px;
  margin-top: 6px;
}
.contactdept2{
  height: 340px;
  background:#E8E9ED;
  font-size: 16px;
  padding-top: 27px;
  color: #2E4B86;
}
.contactbuttons li{
  float: left;
  color: white;
  background: #2E4B86;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  height:45px;
  margin-left:134px;
  border-radius: 40px;
}
.contactdeptl{
    background: #D6A000;
    height: 40px;
    margin-top: 6px;
}
.contactdept2l{
  height: 320px;
  background:#E8E9ED;
  font-size: 16px;
  padding-top: 27px;
  color: #2E4B86;
  margin-bottom: 157px;
}
.contactdeptl h2{
  float: right;
  padding-right: 50px;
  padding-top: 3px;
  color: white;
}
.contactdept2l li{
  font-size: 20px;
  padding-top: 6px;
}
.contactdept2l a{
  color: #2E4B86;
}
.contactbuttons{
  margin-top: 60px;
  margin-bottom: 60px;
}
/*Contact Section Ends*/



.newsheader{
  position: relative;
}
.newsheader h1{
  font-size: 80px;
  color: white;
  position:absolute;
  top: 58px;
  left: 147px;
}
.latestnewshead h2{
  float: right;
  padding-right: 50px;
  padding-top: 3px;
  color: white;
}
.latestnewshead{
  background: #D6A000;
  height: 40px;
  margin-top: 11px;
}
.latestnewsbody{
  height: 440px;
  background:#E8E9ED;
  font-size: 16px;
  padding-top: 27px;
  color: #2E4B86;
  margin-bottom: 6px;
  position: relative;
}
.latestnewsbody li{
  font-size: 15px;
  padding-top: 6px;
  list-style: initial;
}
.latestnewsbody a{
  color: #2E4B86;
}
.latestnewshead2 h2{
  float: right;
  padding-right: 50px;
  padding-top: 3px;
  color: white;
}
.latestnewshead2{
  background: #D6A000;
  height: 40px;
  margin-top: 6px;
}
.latestnewsbody2{
  height: 324px;
  background:#E8E9ED;
  font-size: 16px;
  padding-top: 27px;
  color: #2E4B86;
  margin-bottom: 230px;
}
.latestnewsbody2 li{
  font-size: 20px;
  padding-top: 6px;
}
.latestnewsbody2 a{
  color: #2E4B86;
}
.next{
  position: absolute;
  bottom: 17px;
  right: 17px;
}
/*News Section Ends*/



.grantsheader{
  position: relative;
}
.grantsheader h1{
  font-size: 80px;
  color: white;
  position:absolute;
  top: 58px;
  left: 348px;
}
.grantsbuttons li{
  color: white;
  background: #2E4B86;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  height:40px;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 40px;
  margin-right: 40px;
}
.grantsbuttons ul{
  margin-top: 40px;
  margin-bottom: 60px;
  border-bottom: 3px solid #D6A000;
}
.recordshead h2{
  float: right;
  padding-right: 50px;
  padding-top: 3px;
  color: white;
}
.recordshead{
  background: #D6A000;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 8px;
  float: right;
}
.recordsbody{
  height: 1500px;
  background:#E8E9ED;
  font-size: 16px;
  padding-top: 27px;
  color: #2E4B86;
  margin-bottom: 60px;
  float: right;
}
.recordsbody li{
  font-size: 15px;
  padding-top: 6px;
  list-style: initial;
}
.recordsbody a{
  color: #2E4B86;
}
/*Records Section Ends*/



.records h2{
  color: #2E4B86;
}
.records h1{
  color: #D6A000;
  font-size: 40px;
}
.records{
  margin-top: 60px;
  margin-bottom: 130px;
}
/*Records Subsection Ends*/



.placeshead h2{
  float: right;
  padding-right: 50px;
  padding-top: 3px;
  color: white;
}
.placeshead{
  background: #D6A000;
  height: 40px;
  margin-top: 11px;
}
.placesbody{
  height: 241px;
  background:#E8E9ED;
  font-size: 16px;
  padding-top: 27px;
  color: #2E4B86;
  margin-bottom: 63px;
}
.placesbody li{
  font-size: 20px;
  padding-top: 10px;
}
.placesbody a{
  color: #2E4B86;
}
.placesheader{
  position: relative;
}
.placesheader h1{
  font-size: 80px;
  color: white;
  position:absolute;
  top: 58px;
  left: 209px;
}
/*Places to Go Section Ends*/



.artsheader{
  position: relative;
}
.artsheader h1{
  font-size: 96px;
  color: white;
  position:absolute;
  top: 58px;
  left: 383px;
}
.welcome h1{
  color: #D6A000;
  font-size: 40px;
  margin-top: 40px;
}
.welcome p{
  font-size: 16px;
  margin-bottom: 40px;
}
.artshead h2{
  float: right;
  padding-right: 50px;
  padding-top: 3px;
  color: white;
}
.artshead{
  background: #D6A000;
  height: 40px;
  margin-top: 6px;
}
.artsbody{
  height: 568px;
  background:#E8E9ED;
  font-size: 16px;
  padding-top: 27px;
  color: #2E4B86;
  margin-bottom: 230px;
}
.artsbody li{
  font-size: 20px;
  padding-top: 6px;
}
.artsbody a{
  color: #2E4B86;
}
/*Arts Section Ends*/


.hartsheader{
  position: relative;
}
.hartsheader h1{
  font-size: 96px;
  color: white;
  position:absolute;
  top: 58px;
  left: 317px;
}
.hwelcome h1{
  color: #D6A000;
  font-size: 40px;
  margin-top: 40px;
}
.hwelcome p{
  font-size: 16px;
  margin-bottom: 40px;
}
.hartshead h2{
  float: right;
  padding-right: 50px;
  padding-top: 3px;
  color: white;
}
.hartshead{
  background: #D6A000;
  height: 40px;
  margin-top: 6px;
}
.hartsbody{
  height: 933px;
  background:#E8E9ED;
  font-size: 16px;
  padding-top: 27px;
  color: #2E4B86;
  margin-bottom: 230px;
}
.hartsbody li{
  font-size: 20px;
  padding-top: 6px;
}
.hartsbody a{
  color: #2E4B86;
}
/*History Section Ends*/



form {
  background-color: #E4EBEF;
  padding: 30px 0;
  font-family: helvetica, sans-serif;
}

input[type="text"], input[type="email"], input[type="text"], input[type="tel"]{
  border: none;
  background-color: #C0D2D8;
  margin-bottom: 15px;
  height: 25px;
}

textarea {
  height:200px;
  border: none;
  background-color: #C0D2D8;
  margin-bottom: 15px;
}

input [type=file] {
  margin-bottom: 15px;
}

button{
  border: none;
  height: 40px;
  border-radius: 15px;
  font-size: 15px;
  color: #fff;
}

button[type="submit"]{
  background: #D6A000;
}

button[type="reset"]{
  background-color: #2E4B86;
}
.form{
  margin-left: 210px;
  margin-bottom: 158px;
  margin-top: 100px;
}
