header {
  background-color: #C1272D;
}

nav {
  background-color: #8cc63f;
  margin-bottom: 40px;
}

nav li{
  float: left;
  list-style: none;
  font-size: 12px;
  margin-left: 0;
}



nav a{
  padding: 15px 66px;
  text-decoration: none;
  color: white;
  display: block;
  border-right: 1px solid white;
}

nav li:last-child a{
  border-right: none;
}

article{
  border-right: 1px solid #000000;

}

article h1{
  margin-top:10px;
  margin-bottom: 10px;

}

article span a{
  text-decoration: none;
  color: #0097BB;
  font-weight: bold;
}

article ul li :first-child {
border-top: 1px solid #000000;
}

article ul li {
  list-style: none;
  margin-left: 0;
  border-bottom: 1px solid #000000;
  line-height: 2.2;
}

aside li{
  list-style: none;
  margin-bottom: 20px;
}

aside li:first-child{
  font-size: 18px;
  color: #0097BB;
  font-weight: bold;
  margin-bottom: 10px;
}

aside a{
  text-decoration: none;
  color: #0097BB;
}

footer{
  background-color: #808080;
  height: 50px;
  margin-top: 100px;
}
